:root {
    --main-color: #70edff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  background-color: #424599 !important;
}

#main-container {
    display: flex;
    width: 100vw; 
}

#side-bar {
    width: 20vw;
    height: 100vh;
    background-color: var(--main-color);
}

#content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
}

#big-preview-container {
    height: 25vh;
    background-color: green;
}

#snippets-container {
    /* flex: 1; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto; /* Set to 'auto' or 'hidden' to make content inside scrollable */
    height: calc(100% - 25vh); /* Take the remaining height */
    max-height: 75vh;
    background-color: #424599;
}

.snippet-block {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: calc(33.33% - 20px);
    background-color: yellow;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Prevents container from growing when content overflows */
}

.snippet-code {
    height: 75%;
    background-color: gray;
    overflow: hidden;
}

.snippet-code > p {
    padding: 16px; 
}

.snippet-name {
    height: 25%;
    width: 100%;
}

.snippet-name > p {
    padding-left: 10px;
}

.menu-button {
    cursor: pointer;
}
  .context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 120px;
    transition: transform 0.2s ease-out; /* Add a transition for smooth animation */
    flex-direction: row; /* Set the flex direction to row */
  }

  .context-menu.show {
    transform: translateY(-100%); /* Adjust the transformation to move up */
  }

  .context-menu > div {
    padding: 8px 16px; /* Add padding for better spacing */
    cursor: pointer;
    transition: background-color 0.2s ease-out; /* Add transition for hover effect */
  }

  .context-menu > div:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }


::-webkit-scrollbar {
    background-color: transparent !important;
    width: 9px !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 16px;
    border: 1px solid  var(--main-color);
}

::-webkit-scrollbar-button {
    display: none !important;
}
