:root {
    --federal-blue: #03045E;
    --marian-blue: #023E8A;
    --honolulu-blue: #0077B6;
    --blue-green: #0096C7;
    --pacific-cyan: #00B4D8;
    --vivid-sky-blue: #48CAE4;
    --non-photo-blue-1: #90E0EF;
    --non-photo-blue-2: #ADE8F4;
    --light-cyan: #CAF0F8;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    background-color: #424599 !important;
    overflow: hidden;
}

p, h1 {
    word-wrap: break-word;
}

#main-container {
    display: flex;
    width: 100vw;
}

#side-bar {
    width: 20vw;
    height: 100vh;
    background-color: var(--federal-blue);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.side-group-name {
    background-color: rgba(255, 255, 255, 0.5);
    width: 18vw;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid var(--vivid-sky-blue);
}

.side-group-name > p {
    margin: 5px;
    white-space: nowrap;
}

#addSnippetButton {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-out;
}

#addSnippetButton:hover {
    background-color: #f0f0f0;
}

#addSnippetContextMenu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 120px;
    transition: transform 0.2s ease-out;
    flex-direction: column;
}

#addSnippetContextMenu.show {
    transform: translateY(-100%);
}

#addSnippetContextMenu>div {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#addSnippetContextMenu>div:hover {
    background-color: #f0f0f0;
}

#newSnippetForm,
#newSnippetGroupForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20vw;
}

#snippetName,
#snippetCode,
#snippetGroupDropdown,
#snippetGroupName {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
}

#big-preview-container {
    height: 25vh;
    background-color: var(--honolulu-blue);
    width: 98%;
    margin: 1% 1% 1% 1%;
    overflow-y: hidden;
}

#big-preview-container > h1 {
    overflow-y: auto;
}

#snippets-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    gap: 20px;
    justify-content: space-between;
    overflow-y: auto;
    height: calc(100% - 25vh);
    max-height: 75vh;
    background-color: #424599;
    padding-bottom: 45px;
}

.snippet-block {
    height: 250px;
    background-color: var(--vivid-sky-blue);
    box-sizing: border-box;
    overflow: hidden;
    margin: 5px 5px 5px 10px;
}


.snippet-code {
    height: 75%;
    background-color: var(--marian-blue);
    overflow: hidden;
    color: white;
    position: relative;
}

.snippet-code::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    transform: translateY(3rem);
    background-image: linear-gradient(transparent, rgb(2 62 139 / 85%));
}

.snippet-code>p {
    padding: 16px;
}

.snippet-name {
    height: 25%;
    width: 100%;
}

.snippet-name>p {
    padding-left: 10px;
}

.menu-button {
    cursor: pointer;
}


.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 120px;
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    flex-direction: row;
}

.context-menu.show {
    transform: translateY(-100%);
    opacity: 1;
}

.context-menu>div {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.context-menu>div:hover {
    background-color: #f0f0f0;
}


::-webkit-scrollbar {
    background-color: transparent !important;
    width: 9px !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--federal-blue);
    border-radius: 16px;
    border: 1px solid var(--federal-blue);
}

::-webkit-scrollbar-button,
.snippet-group{
    display: none !important;
}
